{% extends "base.html" %} {% block main %}
<div class="container">
    <div >
        <p>Sync DB</p>
    </div>

    <div class="row">

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        <a href="#" title="Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">分类</a>
                    </h3>
                    <p>
                        展示生活助手包含的类别，对外提供功能标签
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        <a href="#" title="Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">分类</a>
                    </h3>
                    <p>
                        展示生活助手包含的类别，对外提供功能标签
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        <a href="#" title="Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">分类</a>
                    </h3>
                    <p>
                        展示生活助手包含的类别，对外提供功能标签
                    </p>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        <a href="#" title="Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">分类</a>
                    </h3>
                    <p>
                        展示生活助手包含的类别，对外提供功能标签
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        <a href="#" title="Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">分类</a>
                    </h3>
                    <p>
                        展示生活助手包含的类别，对外提供功能标签
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        <a href="#" title="Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">分类</a>
                    </h3>
                    <p>
                        展示生活助手包含的类别，对外提供功能标签
                    </p>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        <a href="#" title="Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">分类</a>
                    </h3>
                    <p>
                        展示生活助手包含的类别，对外提供功能标签
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        <a href="#" title="Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">分类</a>
                    </h3>
                    <p>
                        展示生活助手包含的类别，对外提供功能标签
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        <a href="#" title="Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">分类</a>
                    </h3>
                    <p>
                        展示生活助手包含的类别，对外提供功能标签
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}